* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #111c2d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	font-family: 'Fauna One', serif;
}

.card {
	pointer-events: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	padding: 30px;
	background: rgba(255,255,255,.1);
	border-radius: 5px;
	width: 500px;
	height: 300px;
	margin: auto;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
}
.card .card-content {
	margin: auto;
	text-align: center;
	color: rgba(255, 255, 255, 0.81);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.card h1 {
	-webkit-transform: translateZ(100px);
	transform: translateZ(100px);
	color: rgba(237, 138, 0, 1);
	text-shadow: 1px 1px 0 rgba(17, 28, 45, 0.11);
}
.card p {
	-webkit-transform: translateZ(50px);
	transform: translateZ(50px);
	display: block;
}
.card p.related {
	-webkit-transform: translateZ(80px);
	transform: translateZ(80px);
	font-style: italic;
}
.card a {
	color: rgba(237, 138, 0, 1);
	pointer-events: auto;
}
