* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	background-color: #FEDCC8;
}

.parallax {
	-webkit-perspective: 100px;
	perspective: 100px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	margin-left: -1500px;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer img {
	display: block;
	position: absolute;
	bottom: 0;
}

.parallax__cover {
	background: #2D112B;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 1500px;
	z-index: 20;
}

.parallax__layer__0 {
	-webkit-transform: translateZ(-300px) scale(4);
	transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
	-webkit-transform: translateZ(-250px) scale(3.5);
	transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
	-webkit-transform: translateZ(-200px) scale(3);
	transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
	-webkit-transform: translateZ(-150px) scale(2.5);
	transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
	-webkit-transform: translateZ(-100px) scale(2);
	transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
	-webkit-transform: translateZ(-50px) scale(1.5);
	transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
	-webkit-transform: translateZ(0px) scale(1);
	transform: translateZ(0px) scale(1);
}

/** main **/

.container {
	width: 600px;
	margin-left: 1500px;
	position: relative;
	top: 1350px;
	left: -300px;
	text-align: center;
	font-family: 'Fauna One', serif;
	color: rgba(255, 255, 255, .8);
	background: #2D112B;
}

.jr {
	float: left;
	background: url(../img/jr-invert.png) center center no-repeat;
	width: 24px;
	height: 24px;
	position: relative;
	top: 39px;

	-ms-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg);

	-moz-transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

footer {
	opacity: .7;
}
footer a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
}
footer a:hover {
	border-bottom: 1px solid #fff;
}

.fb-like {
	position: absolute;
	right: 10px;
	top: 10px;
	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	.container {
		width: 320px;
		left: -160px;
		padding: 10px;
	}
}
